RewriteEngine On
RewriteBase /

# Если файл или папка существуют — отдать их
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Если путь не существует — отдать index.html
RewriteRule ^ index.html [L]