.Footer {
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    & > .content {
        display: flex;
        justify-content: space-between;
        width: 1280px;
        padding: 0px 40px;
        & > span {
            color: white;
            font-size: 14px;
        }
        & > .links {
            display: flex;
            gap: 20px;
            & > a {
                text-decoration: none;
                color: white;
                font-size: 14px;
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    .Footer {
        height: auto;
        & > .content {
            padding: 16px 24px;
            flex-direction: column;
            gap: 16px;
            align-items: center;
            & > .links {
                width: 100%;
                justify-content: space-between;
                flex-wrap: wrap;
                gap: 8px;
                align-items: center;
            }
        }
    }
}