.Header {
    width: 100%;
    background-color: #8AD8C8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin-bottom: 40px;
    position: fixed;
    top: 0;
    z-index: 100;
    & > .content {
        display: flex;
        width: 1280px;
        justify-content: space-between;
        align-items: center;
        & > .btns {
            display: flex;
            gap: 32px;
            align-items: center;
            & > a, span {
                color: #ffffff;
                font-size: 14;
                font-weight: 400;
                background-color: transparent;
                padding: 5px 15px;
                width: max-content;
                border-radius: 12px;
                transition: all 0.3s;
                display: flex;
                justify-content: center;
                cursor: pointer;
                &:hover {
                    background-color: #ffffffce;
                    color: #8AD8C8;
                }
                &.selected {
                    background-color: #ffffff;
                    color: #8AD8C8;
                }
            }
        }
        & > button {
            display: flex;
            align-items: center;
            border: none;
            background-color: transparent;
            cursor: pointer;
            &:hover {
                & > .circle {
                    transform: rotate(360deg);
                }
                & > .brick {
                    & > span {
                        font-size: 15px;
                    }
                }
            }
            & > .brick {
                background-color: #ffffff;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                height: 60px;
                border-radius: 38px;
                width: 190px;
                border: 2px solid #ffffff;
                & > span {
                    font-size: 14px;
                    font-weight: 600;
                    color: #8AD8C8;
                    transition: all 0.4s;
                }
            }
            & > .circle {
                width: 60px;
                height: 60px;
                border-radius: 100px;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 2px solid #ffffff;
                transition: all 0.4s;
            }
        }
    }
}

@media screen and (max-width: 1280px) {
    .Header {
        width: 100%;
        display: flex;
        position: relative;
        margin: 0;
        & > .content {
            width: 100%;
            padding: 0px 24px;
            & > .btns {
                display: none;
            }
            & > button {
                padding: 0;
                & > .brick {
                    height: 32px;
                    border-radius: 38px;
                    width: auto;
                    padding: 0px 16px;
                    border: 2px solid #ffffff;
                    & > span {
                        font-size: 12px;
                        font-weight: 600;
                        color: #8AD8C8;
                        transition: all 0.4s;
                    }
                }
                & > .circle {
                    display: none;
                }
            }
        }
    }
}