section {
    width: 1280px;
    border-radius: 24px;
    padding: 40px;
    box-sizing: border-box;
  }
  
  img {
    user-select: none;
  }
  
  body {
    min-height: 100vh;
  }
  
  body {
    font-family: 'Golos Text', sans-serif;
    background-color: #f2f2f2;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  /* Пример использования разных весов */
  h1 {
    font-weight: 900; /* Black */
    margin: 0;
  }
  
  h2 {
    font-weight: 700; /* Bold */
    margin: 0;
  }
  
  p {
    font-weight: 400; /* Regular */
  }
  
  a {
    text-decoration: none;
  }