@font-face {
  font-family: 'Golos Text';
  src: url('./fonts/Golos-Text_Regular.ttf') format('truetype');
  font-weight: 400; /* Regular */
  font-style: normal;
}

@font-face {
  font-family: 'Golos Text';
  src: url('./fonts/Golos-Text_Medium.ttf') format('truetype');
  font-weight: 500; /* Medium */
  font-style: normal;
}

@font-face {
  font-family: 'Golos Text';
  src: url('./fonts/Golos-Text_Bold.ttf') format('truetype');
  font-weight: 700; /* Bold */
  font-style: normal;
}

@font-face {
  font-family: 'Golos Text';
  src: url('./fonts/Golos-Text_Black.ttf') format('truetype');
  font-weight: 900; /* Black */
  font-style: normal;
}