.Education {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    & > .startscreen {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        gap: 24px;
        background-color: #8AD8C8;
        padding: 80px 0px;
        & > h2 {
            font-size: 64px;
            color: #ffffff;
            font-weight: 900;
            text-align: center;
            margin: 0;
        }
        & > h3 {
            font-size: 32px;
            color: #ffffff;
            font-weight: 500;
            text-align: center;
            margin: 0;
        }
        & > a {
            background-color: #ff8135;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            width: 330px;
            height: 56px;
            font-size: 20px;
            border-radius: 50px;
            color: #ffffff;
            font-weight: 700;
            text-decoration: none;
            margin: 0;
            cursor: pointer;
            transition: all 0.2s;
            &:hover {
                opacity: 0.8;
            }
        }
    }
    & > .infoscreen {
        width: 1280px;
        display: flex;
        justify-content: space-between;
        padding: 48px 0px 80px 0px;
        & > .left {
            display: flex;
            flex-direction: column;
            flex-grow: 0;
            flex-shrink: 0;
            width: 48%;
            gap: 16px;
            & > h4 {
                font-size: 28px;
                margin: 0;
            }
            & > p {
                font-size: 20px;
                font-weight: 400;
            }
        }
        & > .right {
            width: 48%;
            flex-grow: 0;
            flex-shrink: 0;
            display: flex;
            flex-direction: column;
            gap: 16px;
            & > h4 {
                font-size: 28px;
                margin: 0;
            }
            & > ul > li > a {
                font-size: 20px;
                font-weight: 400;
                text-decoration: underline;
                color: #ff8135;
            }
        }
    }
}

@media screen and (max-width: 1280px) {
    .Education {
        padding-top: 0px;
        & > .startscreen {
            & > h2 {
                font-size: 28px;
            }
            & > h3 {
                font-size: 18px;
            }
        }
        & > .infoscreen {
            width: 100%;
            flex-direction: column;
            align-items: center;
            gap: 24px;
            .left, .right {
                width: 100%!important;
                gap: 12px;
                & > h4 {
                    padding: 0px 24px;
                    font-size: 20px;
                }
                & > p {
                    padding: 0px 24px;
                    font-size: 14px;
                    margin: 0;
                }
                & > ul {
                    margin: 0;
                    & > li {
                        & > a {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}